<section class="max-w-5xl mx-auto px-4 xl:px-4 my-16">
  <div class="bg-white rounded-lg p-6 shadow">
    <div class="flex gap-x-3 items-center mb-5">
      <div class="bg-green-600/20 size-10 md:size-12 rounded-full flex justify-center items-center">
        <span class="px-2 py-1"
          ><i class="fa-solid fa-key text-green-600 text-lg md:text-xl"></i
        ></span>
      </div>
      <div class="space-y-1">
        <h2 class="text-xl md:text-3xl font-bold">Change Password</h2>
        <p class="text-gray-500">Keep your account secure by using a strong password.</p>
      </div>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
      @let currentPasswordControl = changePasswordForm.get('currentPassword');
      <div class="mb-3 relative">
        <label for="currentPassword" class="main-label ms-1 text-lg font-bold"
          >Current Password</label
        >
        <input
          formControlName="currentPassword"
          [type]="showCurrentPassword ? 'text' : 'password'"
          id="currentPassword"
          class="main-input"
          placeholder="Enter your current password"
        />
        <span class="absolute right-3 -mt-8.5 cursor-pointer">
          <i
            (click)="toggleCurrentPassword()"
            [class]="showCurrentPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
          ></i>
        </span>
        @if (currentPasswordControl?.errors && currentPasswordControl?.touched) {
          <ul class="mt-2 space-y-1 text-red-600 text-sm">
            @if (currentPasswordControl?.getError('required')) {
              <li>Current password is required</li>
            }
          </ul>
        }
      </div>
      @let newPasswordControl = changePasswordForm.get('password');
      <div class="mb-3 relative">
        <label for="password" class="main-label ms-1 text-lg font-bold">New Password</label>
        <input
          formControlName="password"
          [type]="showNewPassword ? 'text' : 'password'"
          id="password"
          class="main-input"
          placeholder="Enter your New password"
        />
        <span class="absolute right-3 -mt-8.5 cursor-pointer">
          <i
            (click)="toggleNewPassword()"
            [class]="showNewPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
          ></i>
        </span>
        @if (newPasswordControl?.errors && newPasswordControl?.touched) {
          <ul class="mt-2 space-y-1 text-red-600 text-sm">
            @if (newPasswordControl?.getError('required')) {
              <li>New password is required</li>
            } @else if (newPasswordControl?.getError('pattern')) {
              <span class="font-medium">Password must meet these requirements :</span>
              <li class="mt-2">
                Minimum eight characters, at least one upper case English letter, one lower case
                English letter, one number and one special character
              </li>
            }
          </ul>
        }
      </div>
      @let confirmPasswordControl = changePasswordForm.get('rePassword');
      <div class="mb-3 relative">
        <label for="rePassword" class="main-label ms-1 text-lg font-bold">Confirm Password</label>
        <input
          formControlName="rePassword"
          [type]="showRePassword ? 'text' : 'password'"
          id="rePassword"
          class="main-input"
          placeholder="Rewrite your Password"
        />
        <span class="absolute right-3 -mt-8.5 cursor-pointer">
          <i
            (click)="toggleRePassword()"
            [class]="showRePassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
          ></i>
        </span>
        @if (
          (confirmPasswordControl?.errors || changePasswordForm.getError('mismatch')) &&
          confirmPasswordControl?.touched
        ) {
          <ul class="mt-2 space-y-1 text-red-600 text-sm">
            @if (confirmPasswordControl?.getError('required')) {
              <li>Confirm password is required</li>
            } @else if (changePasswordForm.getError('mismatch')) {
              <li>Confirm password doesn't match the password</li>
            }
          </ul>
        }
      </div>

      <button type="submit" class="btn-main px-3 rounded-base py-3 w-full mt-2">
        Update Password
      </button>
    </form>
  </div>
</section>
