<section>
  <div class="mb-5">
    <h2 class="font-bold text-2xl">Reset Password</h2>
  </div>
  <div class="mb-3">
    <input
      [formControl]="resetCode"
      type="text"
      id="reset-code"
      class="main-input text-base font-bold placeholder:font-normal placeholder:text-sm"
      placeholder="Enter your reset code"
    />
    @if (resetCode.errors && resetCode.touched) {
      <ul class="mt-2 space-y-1 text-red-600 text-sm">
        @if (resetCode.getError('required')) {
          <li>Reset code is required</li>
        }
      </ul>
    }
  </div>
  <button
    (click)="submitResetCode()"
    class="btn-main py-3 w-full text-md rounded-base flex gap-x-2 justify-center"
  >
    Verify
    @if (isLoading()) {
      <span>
        <i class="fa-solid fa-spinner animate-spin"></i>
      </span>
    }
  </button>
</section>
