<section>
  <div class="mb-5">
    <h2 class="font-bold text-2xl">Set Your New Password</h2>
  </div>
  <form [formGroup]="newPasswordForm">
    @let emailControl = newPasswordForm.get('email');
    <div class="relative mb-3">
      <i class="absolute fa-regular fa-envelope translate-y-5 translate-x-3 text-gray-400"></i>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="main-input text-base font-bold placeholder:font-normal placeholder:text-sm ps-10"
        placeholder="Enter your current email address"
      />
      @if (emailControl?.errors && emailControl?.touched) {
        <ul class="mt-2 space-y-1 text-red-600 text-sm">
          @if (emailControl?.getError('required')) {
            <li>Email address is required</li>
          } @else if (emailControl?.getError('email')) {
            <li>Please enter a valid email address</li>
          }
        </ul>
      }
    </div>
    @let passwordControl = newPasswordForm.get('newPassword');
    <div class="mb-3 relative">
      <i class="fa-solid fa-key absolute text-gray-400 translate-y-5 translate-x-3"></i>
      <input
        formControlName="newPassword"
        [type]="showPass ? 'text' : 'password'"
        id="password"
        class="main-input text-base font-bold placeholder:font-normal placeholder:text-sm ps-10"
        placeholder="Enter your new password"
      />
      <span class="absolute right-3 -mt-9 cursor-pointer text-gray-400">
        <i
          (click)="togglePassword()"
          [class]="showPass ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
        ></i>
      </span>
      @if (passwordControl?.errors && passwordControl?.touched) {
        <ul class="mt-2 space-y-1 text-red-600 text-sm">
          @if (passwordControl?.getError('required')) {
            <li>Password is required</li>
          } @else if (passwordControl?.getError('pattern')) {
            <span class="font-medium">Password must meet these requirements :</span>
            <li class="mt-2">
              Minimum eight characters, at least one upper case English letter, one lower case
              English letter, one number and one special character
            </li>
          }
        </ul>
      }
    </div>

    <button
      (click)="setNewPassword()"
      class="btn-main py-3 w-full text-md rounded-base flex gap-x-2 justify-center"
    >
      Update
      @if (isLoading()) {
        <span>
          <i class="fa-solid fa-spinner animate-spin"></i>
        </span>
      }
    </button>
  </form>
</section>
