<section class="pb-16">
  <owl-carousel-o [options]="mainSliderOptions">
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img1.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img2.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img3.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img4.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img5.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img6.avif" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="h-50 md:h-65 lg:h-80 w-full">
        <img class="w-full h-full object-center" src="/assets/images/img7.avif" />
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
